body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1440px;
    margin: auto;

}

/* Header*/

header {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu {
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    /* margin-left: 156px; */
    margin-right: 76px;

}

.logo-second-part {
    color: #2E2F42;
}

.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.menu {
    display: flex;
    gap: 40px;
}

.navigation:hover,
.contacts:hover,
.navigation:focus,
.contacts:focus {
    color: #404bbf;
}

.address-content {
    font-style: normal;
}

.address-item {
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* First section */

.main-section {
    background-color: #2E2F42;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    width: 496px;
    margin-bottom: 48px;
}

.button-main-section {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
}

.button-main-section:hover,
.button-main-section:focus {
    background-color: #404BBF;
}


/* Second section */

.title-second-section {
    display: none;
}

.title-advantages {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.list-advantages {
    display: flex;
    margin: 120px 156px;
    gap: 24px;
}

.advantages-item {
    width: 264px;
}

.description-advantages {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Third section */

.team-section {
    background-color: #F4F4FD;
    height: 732px;
    padding: 120px 156px;
}

.title-team-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-card {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    height: 380px;
}

.name-box {
    margin: 32px 16px;
}

.title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.text-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Fourth section */

.porfolio-section {
    padding: 120px 156px;
}

.title-portfolio {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-name {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-item {
    width: 360px;
    height: 420px;
}

.title-project {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text-project {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Footer */

.footer-info {
    background-color: #2E2F42;
    height: 320px;
    padding-left: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-block {
    width: 264px;
}

.logo-second-part-footer {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    margin-top: 16px;
}

